<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style/main.css">
		<title>Crossroads.js: JavaScript Routes System</title>
	</head>
	<body>
		<div id="wrapper">
			<h1 class="ir">Crossroads.js: JavaScript Routes System</h1>
			<div class="ribbon big">
				<div class="inner-wrapper">
					<p>
						<strong>Crossroads.js</strong> is a routing library inspired by URL Route/Dispatch utilities present on 
						frameworks like Rails, Pyramid, Django, CodeIgniter, etc... It parses a string input and  decides which 
						action should be executed by matching the string against multiple patterns.
					</p>
					<p>
						If used properly it can reduce code complexity a lot by avoiding tightly coupling objects and also by abstracting navigation paths.
					</p>
				</div>
			</div>
			<section id="introduction">
				{% include introduction.markdown %}
			</section>
			<section id="documentation">
				{% include documentation.markdown %}
			</section>
			<nav id="main-nav">
				<ul>
					<li><a href="#introduction">Introduction</a></li>
					<li><a href="#documentation">Documentation</a></li>
				</ul>
			</nav>
			<footer>
				&copy; 2011, <a href="http://blog.millermedeiros.com/">Miller Medeiros</a>.
			</footer>
		</div>
	</body>
</html>